# Input data directory
data/input/

# Processed data directory
data/processed/

# Environment variables
.env

# Virtual environment
venv/

# Python cache files
__pycache__/

# Log files
logs/

# Saves
save/*.pt
save/*.json

# Temp documentation
documentation/